body{
  background-color:white;
  font:normal 15pt arial;
  margin:0px;
}

header{
  text-align:center;
  margin:10px;
  height:250px;
  color:black;
  font-size:40px;
}

section{
  background-color:royalblue;
  padding: 10px; 
  border: 2px solid blue;
  border-radius:px;
  width:px;
  
  height:500px;
}

.menu{
  width:px;
  border: 2px solid black;
  height:500px;
  margin:0px;
  text-align:left;
  background: linear-gradient(to right,darkblue,blue,aqua);
  color:white;
  
}

.ampliar{
  text-align: center;
}





footer{
  text-align: center;
  font-style: italic;
  color:black;
}
.box {
  width:320px;
  height:850px;
  border-radius: 12px;
  position: relative;
  background: white;
  margin:30px;
  text-align: center;
}

.tema{
  text-align: center;
}

.center{
  border:5px solid darkblue;
  height:60vh;
  margin:8px 
  background-color: white ;
  
}

.box {
  width: 330px;
  height:345px;
  border-radius: 10px;
  position: relative;
  background:white;
}

/* camada da borda animada */
.box::before {
  content: "";
  position: absolute;
  inset: -3px; /* espessura da borda */

  border-radius: 12px;

  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    red
  );

  background-size: 300%;
  animation: rodar 4s linear infinite;

  z-index: -1;
}

/* animação */
@keyframes rodar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

  
footer {
  background:white;
  color: black;
  text-align: center;
  padding: 20px;
}

.redes a {
  color:black;
  margin: 0 10px;
  text-decoration: none;
}

.redes a:hover {
  color:red;
}
  
  